.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
.navbar .nav-fluid {
  transition: 0.2s all linear;
}
.navbar img {
  height: 2.9em;
  margin-top: -3px;
  margin-left: .5em;
}
.navbar img:hover {
  height: 3em;
}
.change-color {
  background-color: #1b1b1b;
  -webkit-box-shadow: 0px 0px 4px 0px #dddddd;
  -moz-box-shadow: 0px 0px 4px 0px #dddddd;
  box-shadow: 0px 0px 4px 0px #dddddd;
  color: white;
}
.navbar-fixed-top {
  min-height: 80px;
}
.navbar-nav > li > a {
  margin-right: 1.5em;
  letter-spacing: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 80px;
  font-family: 'Cutive Mono', monospace;
  font-size: 18px;
}
.navbar-nav > li > a:hover {
  font-size: 19px;
  color: lightblue;
}
@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.navbar-toggle {
  margin: 2rem;
}
#login {
  font-family: 'Cutive Mono', monospace;
}
#vya {
  font-family: 'Cutive Mono', monospace;
}
#logout {
  font-family: 'Cutive Mono', monospace;
}
.welcome-container {
  position: relative;
  text-align: center;
}
video {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
  opacity: .5;
}
#vid {
  font-weight: 100;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 200px 0 0 -120px;
}
#vid h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1em;
  letter-spacing: 5px;
  font-family: 'Share Tech Mono', monospace;
}
#vid p {
  font-size: 19px;
  letter-spacing: 1px;
  font-family: 'Cutive Mono', monospace;
}
#vid .howitworks {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  padding: .5rem;
  transition: .6s background;
  font-size: 1.4em;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 7px;
  padding: 3px 15px 3px 15px;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 2em;
}
#vid .howitworks:hover {
  text-decoration: none;
  color: white;
  background: rgba(225, 225, 225, 0.5);
  font-size: 1.45em;
}
#vid button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
  padding: 3px 15px 3px 15px;
}
#vid button:hover {
  background: rgba(0, 0, 0, 0.5);
}
.creator-container {
  position: relative;
  height: 95vh;
}
.creator-container .user-creator {
  opacity: 0;
  height: 20em;
  position: absolute;
  top: 50%;
  margin-top: -10em;
  width: 100%;
  min-height: 40em;
}
.creator-container .user-creator .register-form {
  margin: 0 auto;
  max-width: 40em;
  text-align: center;
  padding-bottom: 15px;
  background-color: #353535;
  border-radius: 2em;
  box-shadow: 2px 5px 1px 0 rgba(0, 0, 0, 0.7);
}
.creator-container .user-creator .register-form .tabs {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 4em;
  padding: 0;
  margin-bottom: 15px;
  font-family: 'Share Tech Mono', monospace;
}
.creator-container .user-creator .register-form .tabs .tab1-register {
  display: inline-block;
  width: 50%;
  height: 48px;
  padding-top: 16px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid white;
  border-top-left-radius: 2em;
  background-color: lightgray;
  color: #5b5b5b;
}
.creator-container .user-creator .register-form .tabs .tab2-register {
  display: inline-block;
  width: 50%;
  height: 48px;
  padding-top: 16px;
  border-bottom: none;
  z-index: 9999;
  float: right;
  border-left: 1px solid white;
  color: white;
}
.creator-container .user-creator .register-form .signup {
  color: white;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
}
.creator-container .user-creator .register-form .userinfo {
  float: none;
}
.creator-container .user-creator .register-form .userinfo input {
  border-radius: 5px;
}
.creator-container .user-creator .register-form .userinfo input::-webkit-input-placeholder {
  color: #5b5b5b;
  padding-left: 3px;
  font-family: 'Cutive Mono', monospace;
}
.creator-container .user-creator .register-form .userinfo .username {
  margin-bottom: .5em;
}
.creator-container .user-creator .register-form .userinfo .username input {
  margin: .5em;
  width: 45%;
}
@media (max-width: 420px) {
  .creator-container .user-creator .register-form .userinfo .username input {
    width: 100%;
  }
}
.creator-container .user-creator .register-form .userinfo .accountinfo .email {
  padding: 0;
}
.creator-container .user-creator .register-form .userinfo .accountinfo .email input {
  margin-left: 8px;
  margin-right: 8px;
  width: 95%;
}
@media (max-width: 420px) {
  .creator-container .user-creator .register-form .userinfo .accountinfo .email input {
    width: 100%;
  }
}
.creator-container .user-creator .register-form .userinfo .accountinfo .password {
  margin: .5em 0 1em 0;
  padding: 0;
}
.creator-container .user-creator .register-form .userinfo .accountinfo .password input {
  margin: 8px;
  width: 45%;
}
@media (max-width: 420px) {
  .creator-container .user-creator .register-form .userinfo .accountinfo .password input {
    width: 100%;
  }
}
.creator-container .user-creator .register-form .userinfo .confirm {
  margin-top: 1.3em;
}
.creator-container .user-creator .register-form .userinfo .confirm button {
  border-radius: 5px;
  color: white;
  width: 9.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Share Tech Mono', monospace;
}
.creator-container .user-creator .register-form .userinfo .confirm button:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: .4s background;
}
.creator-container .user-creator .register-form .userinfo a .confirm {
  margin-top: 1.3em;
}
.creator-container .user-creator .register-form .userinfo a .confirm button {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 9.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Share Tech Mono', monospace;
}
.creator-container .user-creator .register-form .userinfo a .confirm button:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: .4s background;
}
.creator-container .user-creator .register-form .userinfo a h6 {
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 12px;
  color: lightblue;
  font-family: 'Cutive Mono', monospace;
}
.creator-container .user-creator .register-form .userinfo a h6:hover {
  text-decoration: none;
}
.route-command {
  float: left;
}
.route-amount {
  float: left;
  margin-left: 50px;
}
.route-buttons {
  margin-top: 100px;
  float: left;
}
.buildingroutediv {
  height: 300px;
  width: 300px;
  background-color: white;
  float: right;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-right: 200px;
}
.creator-container {
  position: relative;
  height: 95vh;
}
.creator-container .user-creator-login {
  opacity: 0;
  height: 20em;
  position: absolute;
  top: 50%;
  margin-top: -10em;
  width: 100%;
  min-height: 40em;
}
.creator-container .user-creator-login .login-form {
  background-color: #353535;
  max-width: 40em;
  text-align: center;
  border-radius: 2em;
  margin: 0 auto;
  padding-bottom: 15px;
  box-shadow: 2px 5px 1px 0 rgba(0, 0, 0, 0.7);
}
.creator-container .user-creator-login .login-form .tabs-login {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 4em;
  padding: 0;
  margin-bottom: 15px;
  font-family: 'Share Tech Mono', monospace;
}
.creator-container .user-creator-login .login-form .tabs-login .tab1 {
  display: inline-block;
  width: 50%;
  border-right: 1px solid white;
  height: 48px;
  padding-top: 16px;
  border-bottom: none;
  color: white;
  float: left;
}
.creator-container .user-creator-login .login-form .tabs-login .tab2 {
  display: inline-block;
  width: 50%;
  height: 48px;
  padding-top: 16px;
  border-bottom-left-radius: 5px;
  border-bottom: 2px solid white;
  border-top-right-radius: 2em;
  background-color: lightgray;
  color: #5b5b5b;
}
.creator-container .user-creator-login .login-form .signup-login {
  color: white;
  letter-spacing: 5px;
  margin-top: 35px;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
}
.creator-container .user-creator-login .login-form .userinfo input {
  border-radius: 5px;
}
.creator-container .user-creator-login .login-form .userinfo input::-webkit-input-placeholder {
  color: #5b5b5b;
  padding-left: 3px;
  font-family: 'Cutive Mono', monospace;
}
.creator-container .user-creator-login .login-form .userinfo .username {
  margin-bottom: .5em;
}
.creator-container .user-creator-login .login-form .userinfo .username input {
  margin: .5em;
  width: 45%;
}
.creator-container .user-creator-login .login-form .userinfo .accountinfo {
  margin: 0 auto;
}
.creator-container .user-creator-login .login-form .userinfo .accountinfo .email input {
  width: 95%;
}
.creator-container .user-creator-login .login-form .userinfo .accountinfo .password-login {
  margin: .5em 0 1em 0;
}
.creator-container .user-creator-login .login-form .userinfo .accountinfo .password-login input {
  margin: 8px;
  width: 95%;
}
.creator-container .user-creator-login .login-form .userinfo .confirm {
  margin-top: 2em;
}
.creator-container .user-creator-login .login-form .userinfo .confirm button {
  border-radius: 5px;
  color: white;
  width: 9.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Share Tech Mono', monospace;
}
.creator-container .user-creator-login .login-form .userinfo .confirm button:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: .4s background;
}
.creator-container .user-creator-login .login-form .userinfo a:hover {
  text-decoration: none;
}
.creator-container .user-creator-login .login-form .userinfo h6 {
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 12px;
  color: lightblue;
  font-family: 'Cutive Mono', monospace;
}
.contact-row {
  margin-top: 2em;
  margin-bottom: 3em;
}
@media (max-width: 990px) {
  .contact-row {
    margin-top: 3em;
  }
}
.contact-row .contact-form-row .cu {
  margin: 20px;
  color: white;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Share Tech Mono', monospace;
}
.contact-row .contact-form-row .contact-form {
  margin: 0 auto;
  width: 70%;
  background-color: #1b1b1c;
  text-align: center;
  padding-top: 1em;
  border-radius: 2em;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
@media (max-width: 1000px) {
  .contact-row .contact-form-row .contact-form {
    margin-bottom: 4em;
    padding-top: 3em;
  }
}
.contact-row .contact-form-row .contact-form input {
  width: 80%;
  margin-bottom: 1em;
  height: 2.5em;
  border-radius: 5px;
}
.contact-row .contact-form-row .contact-form input::-webkit-input-placeholder {
  color: #5b5b5b;
  padding-left: 3px;
  font-family: 'Cutive Mono', monospace;
}
.contact-row .contact-form-row .contact-form textarea {
  width: 80%;
  height: 6em;
  margin-bottom: 1.2em;
  border-radius: 5px;
}
.contact-row .contact-form-row .contact-form textarea::-webkit-input-placeholder {
  color: #5b5b5b;
  padding-left: 3px;
  padding-top: 5px;
  font-family: 'Cutive Mono', monospace;
}
.contact-row .contact-form-row .contact-form button {
  color: #1b1b1b;
  border-radius: 5px;
  height: 2em;
  width: 6.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Share Tech Mono', monospace;
  margin-bottom: 2em;
}
.contact-row .contact-form-row .contact-form button:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: .2s background;
  color: white;
}
.contact-row .address {
  margin: 0 auto;
}
.contact-row .address h2 {
  margin: 20px;
  margin-top: 20px;
  color: #1b1b1b;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Share Tech Mono', monospace;
}
.contact-row .address address {
  font-family: 'Cutive Mono', monospace;
  padding-left: 1em;
  font-size: 30px;
}
@media (max-width: 991px) {
  .contact-row .address address {
    padding-left: 0;
  }
}
.contact-row .address address strong {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (max-width: 991px) {
  .contact-row .address {
    text-align: center;
    padding-left: 0;
  }
}
.team {
  padding: 75px 0;
  padding-bottom: 40px;
}
.team p {
  font-family: 'Share Tech Mono', monospace;
}
@media (max-width: 991px) {
  .team {
    padding-bottom: 0;
  }
}
h6.description {
  font-weight: bold;
  letter-spacing: 2px;
  color: #1b1b1b;
  border-bottom: 1px solid #1b1b1b;
  padding-bottom: 5px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 27px;
}
.profile {
  margin-top: 25px;
  text-align: center;
}
.profile h1 {
  font-weight: normal;
  font-size: 20px;
  margin: 10px 0 0 0;
  font-family: 'Share Tech Mono', monospace;
}
.profile h2 {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 5px;
  font-family: 'Share Tech Mono', monospace;
}
.profile .img-box {
  opacity: 1;
  display: block;
  position: relative;
}
.profile .img-box:after {
  content: "";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
}
.img-box ul {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  text-align: center;
  width: 100%;
  padding-left: 0px;
  height: 0px;
  margin: 0px;
  opacity: 0;
}
.profile .img-box:after,
.img-box ul,
.img-box ul li {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.img-box ul i {
  font-size: 20px;
  letter-spacing: 10px;
}
.img-box ul li {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid lightblue;
  margin: 2px;
  padding: 5px;
  display: inline-block;
}
.img-box a {
  color: #fff;
}
.img-box:hover:after {
  opacity: 1;
}
.img-box:hover ul {
  opacity: 1;
}
.img-box ul a {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li {
  border-color: #fff;
  color: lightblue;
}
a {
  color: lightblue;
}
a:hover {
  text-decoration: none;
  color: white;
}
i.red {
  color: lightblue;
}
iframe {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border: 2px solid black;
}
.img-box img {
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.account-body .buildings-container {
  color: #1b1b1b;
  margin-top: 8em;
}
.account-body .buildings-container h1 {
  text-align: center;
  margin: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.account-body .buildings-container .building-names .building-list {
  background: rgba(0, 0, 0, 0.78);
  min-height: 15em;
  width: 48%;
  margin: 0 0em 3em 1em;
  border-radius: 2em;
  padding-top: 3.1em;
  text-align: center;
}
@media (max-width: 991px) {
  .account-body .buildings-container .building-names .building-list {
    width: 98%;
    min-height: 15em;
  }
}
.account-body .buildings-container .building-names .building-list:hover {
  -webkit-box-shadow: 0 8px 6px -6px #9C9C9C;
  -moz-box-shadow: 0 8px 6px -6px #9C9C9C;
  box-shadow: 10px 12px 6px -6px #9C9C9C;
  transition: 0.2s box-shadow;
}
.account-body .buildings-container .building-names .building-list .buildingz {
  color: white;
  text-align: center;
  margin-bottom: .5em;
  letter-spacing: 2px;
  font-size: 35px;
  font-family: 'Share Tech Mono', monospace;
}
.account-body .buildings-container .building-names .building-list .detail-view {
  display: inline-block;
  margin-bottom: .5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: lightblue;
  font-size: 18px;
}
.account-body .buildings-container .building-names .building-list .detail-view .detailz {
  margin-right: 1.2em;
  display: inline-block;
  font-family: 'Cutive Mono', monospace;
}
.account-body .buildings-container .building-names .building-list .detail-view .detailz:hover {
  font-weight: bold;
  text-decoration: none;
}
.account-body .buildings-container .building-names .building-list .building-details {
  background-color: transparent;
  margin-top: 1em;
  margin-bottom: 2em;
}
.account-body .buildings-container .building-names .building-list .building-details .thumb-photo canvas {
  margin: 0 auto;
  width: 300px !important;
}
.account-body .buildings-container .building-names .building-list .building-details .thumb-photo canvas .threed {
  max-width: 250px;
}
.account-body .buildings-container .building-names .building-list .building-details .caption {
  margin: 0 auto;
  background-color: white;
}
.account-body .buildings-container .building-names .building-list .building-details .caption .letter {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  margin-left: 1.5em;
}
.account-body .buildings-container .building-names .building-list .building-details .caption .letter h4 {
  display: inline-block;
  font-size: 27px;
  margin-right: 5px;
  font-family: 'Share Tech Mono', monospace;
}
.account-body .buildings-container .building-names .building-list .building-details .caption .letter .l {
  display: inline-block;
  font-size: 24px;
}
@media (max-width: 991px) {
}
.account-body .buildings-container .building-names .building-list .building-details .routez {
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: lightblue;
  font-size: 18px;
  font-family: 'Cutive Mono', monospace;
}
.account-body .buildings-container .building-names .building-list .building-details .routez:hover {
  font-weight: bold;
  text-decoration: none;
}
.account-body .buildings-container .building-names .building-list .building-details .routes-div {
  background-color: white;
}
@media (max-width: 991px) {
}
.account-body .buildings-container .building-names .building-list .building-details .singleroute-div {
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.account-body .buildings-container .building-names .building-list .building-details .singleroute-div h3 {
  margin-top: .5em;
  color: #1b1b1b;
  letter-spacing: 2px;
  font-family: 'Share Tech Mono', monospace;
}
.account-body .buildings-container .building-names .building-list .building-details .singleroute-div .flybutton {
  font-weight: bold;
  margin: 1.5em;
  border-radius: 5px;
  width: 9.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 2.5em;
  font-family: 'Share Tech Mono', monospace;
}
.account-body .buildings-container .building-names .building-list .building-details .singleroute-div .flybutton:hover {
  background: rgba(0, 0, 0, 0.8);
  transition: .4s background;
  color: white;
}
.account-body .buildings-container .building-names .building-list .building-details .singleroute-div .commands {
  color: black;
}
.account-body .buildings-container .building-names .building-list .building-details .singleroute-div .commands h4 {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
  font-family: 'Cutive Mono', monospace;
}
.account-body .buildings-container .building-names .building-list .building-details .singleroute-div .commands p {
  display: inline-block;
  font-weight: bold;
  font-size: 1.7em;
  padding-left: 15px;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-family: 'Cutive Mono', monospace;
}
.create-container {
  padding-top: 1em;
}
.create-container .create-row {
  margin-bottom: 3em;
}
@media (max-width: 770px) {
  .create-container .building-btn {
    text-align: center;
  }
}
.create-container .building-btn .create-building .cbbtn {
  float: right;
  letter-spacing: 2px;
  border-radius: 5px;
  color: white;
  width: 13em;
  height: 3.11em;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
}
@media (max-width: 770px) {
  .create-container .building-btn .create-building .cbbtn {
    float: none;
    text-align: center;
  }
}
.create-container .building-btn .create-building .cbbtn:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: .4s background;
}
@media (max-width: 770px) {
  .create-container .two {
    text-align: center;
  }
}
.create-container .two .create-route .crbtn {
  border-radius: 5px;
  color: white;
  width: 11.5em;
  height: 3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
}
@media (max-width: 770px) {
  .create-container .two .create-route .crbtn {
    float: none;
    text-align: center;
    margin-top: 10px;
  }
}
.create-container .two .create-route .crbtn:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: .4s background;
}
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: rgba(0, 0, 0, 0.75);
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.glyph-container .glyph-box {
  width: 10em;
  height: 10em;
  background-color: rgba(19, 15, 15, 0.92);
  margin: 0 auto;
  border-radius: 50%;
}
.glyph-container .glyph-box .glyphicon {
  padding-top: 1em;
  font-size: 3em;
  color: lightblue;
}
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.marketing h2 {
  letter-spacing: 12px;
  padding-top: 1em;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 0;
  font-family: 'Share Tech Mono', monospace;
}
.marketing .info-box {
  min-height: 16em;
}
.marketing .info-box p {
  letter-spacing: 1px;
  font-size: 17px;
  font-family: 'Cutive Mono', monospace;
}
/* Featurettes
------------------------- */
.featurette {
  width: 80%;
  margin: 0 auto;
}
.featurette .lead {
  font-family: 'Cutive Mono', monospace;
}
.featurette .user {
  background-image: url('../images/iStock_88120963_LARGE.jpg');
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
  height: 22em;
  border-radius: 1em;
}
.featurette .software {
  background-image: url('../images/binary.jpg');
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
  height: 22em;
  border-radius: 1em;
}
.featurette .hardware {
  background-image: url('../images/white-drone-slider.png');
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: cover;
  background-position-x: -130px;
  height: 22em;
  border-radius: 1em;
}
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
  border-top: 1px solid #1b1b1b;
}
@media (max-width: 990px) {
  .featurette-divider {
    margin: 0;
  }
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
#map {
  height: 300px;
  width: 70%;
}
#create-building {
  margin-top: -20px;
}
* {
  box-sizing: border-box;
}
.site-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 70px;
  background-image: url('../images/drone3.jpg');
}
body {
  background-color: #f2f2f2;
}
