<!--<div class="input-route">
    <select name="buildings" id="#" ng-model="selectedBuilding" ng-change="changeBuilding()">
        <option value="">Select Building</option>
        <option value="{{building}}" ng-repeat="building in buildings">{{ building.buildingName }}</option>
    </select>
    <select name="commands" id="" ng-model="selectedCommand">
        <option value="">Select Command</option>
        <option value="Forward">Forward</option>
        <option value="Backward">Backward</option>
        <option value="Up">Up</option>
        <option value="Down">Down</option>
        <option value="Left">Left</option>
        <option value="Right">Right</option>
        <option value="Clockwise">Clockwise</option>
        <option value="CounterClockwise">Counter-Clockwise</option>
        <option value="TakePicture">Take Picture</option>
        <option value="StartRecord">Start Record</option>
        <option value="StopRecord">Stop Record</option>
    </select>
    <input type="number" ng-model="inputAmount" placeholder="amount">
    <button ng-click="addRoute()">Add</button>
    <div class="buildingroutediv"></div>
</div>
<div class="current-route">
    <div class="route-command">
        <h3>Command</h3>
        <p ng-repeat="command in routeCommands track by $index">{{ command.command }}</p>
    </div>
    <div class="route-amount">
        <h3>Amount</h3>
        <p ng-repeat="command in routeCommands track by $index">{{ command.amount }}</p>
    </div>
</div>
<div class="route-buttons">
    <button ng-click="submitRoute()">Submit</button>
    <button ng-click="clearRoute()">Clear Route</button>
</div>-->

<!-- Button trigger modal -->
<button type="button" class="crbtn" data-toggle="modal" data-target="#myModal">
  Create Route
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
          <div class="input-route">
            <select name="buildings" id="#" ng-model="selectedBuilding" ng-change="changeBuilding()">
                <option value="">Select Building</option>
                <option value="{{building}}" ng-repeat="building in buildings">{{ building.buildingName }}</option>
            </select>
            <select name="commands" id="" ng-model="selectedCommand">
                <option value="">Select Command</option>
                <option value="Height">Height 1</option>
                <option value="Height">Height 2</option>
                <option value="Height">Height 3</option>
            </select>
            <input type="number" ng-model="inputAmount" placeholder="height">
            <button ng-click="addRouteHeight()">Add</button>
                <select name="commands" id="" ng-model="selectedCommand">
                    <option value="">Select Command</option>
                    <option value="up">up</option>
                    <option value="down">down</option>
                    <option value="left">left</option>
                    <option value="right">right</option>
                    <option value="clockwise">clockwise</option>
                    <option value="counterClockwise">counter-clockwise</option>
                    <option value="stop">stop</option>
                    <option value="land">land</option>
                </select>
                <input type="number" ng-model="inputAmount" placeholder="amount">
                <button ng-click="addRouteParam()">Add</button>

            <!--<div class="buildingroutediv"></div>-->
            <div id="map"></div>
            <br>
            <br>
            <h4>Current Route</h4>
            <p ng-repeat="height in routeHeights">{{ height.height }} ft.</p>
            <p ng-repeat="vertices in mapVertices">Lat: {{vertices.latitude}}, Long: {{vertices.longitude}}</p>
            <h4>Route Params</h4>
            <p ng-repeat="command in routeCommands track by $index">{{command.cmd}}: {{command.amt}}</p>
            <!--<p ng-model="coordinate">{{ coordinate }}</p>-->
        </div>
        <!--<div class="current-route">
            <div class="route-command">
                <h3>Command</h3>
                <p ng-repeat="command in routeCommands track by $index">{{ command.command }}</p>
            </div>
            <div class="route-amount">
                <h3>Amount</h3>
                <p ng-repeat="command in routeCommands track by $index">{{ command.amount }}</p>
            </div>
        </div>-->
        <!--<div class="route-buttons">
            <button ng-click="submitRoute()">Submit</button>
            <button ng-click="clearRoute()">Clear Route</button>
        </div>

      </div>-->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" ng-click="clearRoute()">Clear Route</button>
        <button type="button" class="btn btn-default" ng-click="submitRouteCmds()">Submit Cmd String</button>
        <button type="button" class="btn btn-primary" ng-click="submitRoute()">Save changes</button>
      </div>
    </div>
  </div>
</div>
