.contact-container {
    position: relative;
    min-height: 80vh;

       @media (max-width: 990px) {
            max-width: 50em;
        }

    .contact-row {
        opacity: 0;
        position: absolute;
        top: 50%;
        height: 20em;
        margin-top: -10em;
        width: 100%;

        .contact-form-row {

            .cu {
                margin: 23px;
                color: white;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            .contact-form {
                height: 27em;
                background-color: #1b1b1c;
                text-align: center;
                padding-top: 1em;
                border-radius: 2em;
                -webkit-box-shadow: 0 8px 6px -6px #999;
                -moz-box-shadow: 0 8px 6px -6px #999;
                box-shadow: 0 8px 6px -6px #999;

                @media (max-width: 1000px) {
                    margin-bottom: 2em;
                }

                input {
                    width: 80%;
                    margin-bottom: 1.2em;
                    height: 2em;
                    border-radius: 5px;


                    &::-webkit-input-placeholder { 
                        color: #5b5b5b;
                        padding-left: 3px;
                    }

                }

                textarea {
                    width: 80%;
                    height: 7em;
                    margin-bottom: 1.8em;
                    border-radius: 5px;


                    &::-webkit-input-placeholder { 
                        color: #5b5b5b;
                        padding-left: 3px;
                        padding-top: 5px;
                    }

                }

                button {
            
                    border: 1px solid white;
                    border-radius: 5px;
                    color: white;
                    width: 9.5em;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    
                    &:hover {
                        background:rgba(0,0,0,0.5);
                        transition: .4s background; 
                    }
                }
            }
        }
        .map {
            border-radius: 2em;

            .map-box {
                height: 27em;
                background-image: url('../images/bhammap.png');
                background-size: cover;
                background-position: -5px;
                border: 1px solid #1b1b1c;
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }
        }
    }
}