.route-command {
    float: left;
}
.route-amount {
    float: left;
    margin-left: 50px;
}
.route-buttons {
    margin-top: 100px;
    float: left;
}
.buildingroutediv {
    height: 300px;
    width: 300px;
    background-color: white;
    float: right;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-right: 200px;
}

#map {
    margin: 0 auto;    
    border-radius: 5px;
}

button {
    color: #1b1b1b;
    border-radius: 5px;
    height: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Share Tech Mono', monospace;
    
    &:hover {
        background:rgba(0,0,0,0.5);
        transition: .2s background; 
        color: white;
    }
}

h4 {
    font-family: 'Share Tech Mono', monospace;

}