.info-page {
    // background-color: rgba(255, 255, 255, 0.8); 
    text-align: center;
    color: black;

    h1 {
        color: white;
        letter-spacing: 12px;
        padding-top: 1em;
        padding-bottom: 1em;
        background: rgba(0,0,0,0.75);
        font-size: 40px;
        text-transform: uppercase;
        margin-top: 0;
        font-family: 'Share Tech Mono', monospace;
    }

    p {
        color: white;
        padding: 0 2em 0 2em;
        text-align: center;
    }
}
.pics {
    margin-bottom: 5em;
    margin-top: 2em;

        @media (max-width: 990px) {
            margin-bottom: 2em;
            margin-top: 1em;
        } 

    .pic-row {
        margin-top: 4em;

        @media (max-width: 990px) {
            margin-top: 3em;
        } 

        .pic-container {

            @media (max-width: 991px) {
                margin-bottom: 3em;
            }  
                
            .square1 {
                width: 100%;
                background-image: url('/images/binary.jpg');
                height: 21em;
                background-size: cover;
                background-position: center;
                border-radius: .5em;
                cursor: pointer;
                -webkit-filter: grayscale(100%); 
                filter: grayscale(100%);
                -webkit-box-shadow: 0 8px 6px -6px #999;
                -moz-box-shadow: 0 8px 6px -6px #999;
                box-shadow: 10px 12px 12px -4px #999;

                @media (max-width: 991px) {
                    height: 25em;
                    width: 50%;
                } 
            }
            
            .text1 {
                width: 93%;
                background-color:rgba(19, 15, 15, 0.92);
                position: absolute;
                top: 0;
                left: 13;
                bottom: 0;
                opacity: 0;
                border-radius: .5em;
                cursor: pointer;
                transition: 0.4s all ease-in-out;

                h1 {
                    text-align: center;
                    color: white;
                    padding-top: 1.5em;
                    padding-bottom: .5em;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                
                p {
                    line-height: 2em;
                    font-size: 1.2em;
                    font-family: 'Cutive Mono', monospace;
                }

                &:hover {
                    opacity: 1;
                    transition: 0.4s all ease-in-out;
                }

                @media (max-width: 991px) {
                    height: 25em;
                    display: inline-block;
                    width: 50%;
                    margin-left: 2em;
                    padding-top: 5em;
                    opacity: 1;

                    h1 {
                        padding-top: .8em;
                    }
                } 
            }

            .square2 {
                width: 100%;
                background-image: url('/images/blackandwhitedrone.jpg');
                height: 21em;
                background-size: cover;
                background-position: center;
                border-radius: .5em;
                cursor: pointer;
                border: 1px solid grey;
                -webkit-box-shadow: 0 8px 6px -6px #999;
                -moz-box-shadow: 0 8px 6px -6px #999;
                box-shadow: 10px 12px 12px -4px #999;

                @media (max-width: 991px) {
                    height: 25em;
                    width: 50%;
                } 
            }

            .square3 {
                width: 100%;
                background-image: url('/images/usericon.jpg');
                height: 21em;
                background-size: cover;
                background-position: center;
                border-radius: .5em;
                cursor: pointer;
                border: 1px solid grey;
                -webkit-box-shadow: 0 8px 6px -6px #999;
                -moz-box-shadow: 0 8px 6px -6px #999;
                box-shadow: 10px 12px 12px -4px #999;

                @media (max-width: 991px) {
                    height: 25em;
                    width: 50%;
                } 
            }
        }
    }
}

.explanation {
    margin-top: 6em;
    
    @media (max-width: 990px) {
        margin-bottom: 0;
        margin-top: 0;
    } 

    .software-container {
        width: 100%;
        margin-bottom: 5em;

        @media (max-width: 990px) {
            margin-bottom: 2em;
        } 

        .software-section {
            padding-top: 1.5em;
            padding-bottom: 1.5em; 
            background-color: rgba(0, 0, 0, 0.75);

            @media (max-width: 990px) {
                min-height: 22em;
                border-radius: 2em;
                margin-bottom: 3em;
            } 

            .text-container {
                display: inline;

                .about-container {
                    text-align: center;

                    .square {
                        width: 100%;

                        .glyph-container {
                            display: inline-block;

                            .glyphicon {
                                font-size: 2em;
                                padding: 0.5em 0.1em;
                                padding-right: 20px;
                                color: lightblue;
                                padding-bottom: 1em;
                            }
                        }
                        .text-container {
                            h4 {
                                text-align: center;
                                color: white;
                                font-size: 28px;
                                letter-spacing: 10px;
                                text-transform: uppercase;
                                display: inline-block;
                                font-family: 'Share Tech Mono', monospace;

                            }
                            p {
                                color: white;
                                letter-spacing: 1px;
                                font-size: 17px;
                                padding: 5px 25px 0 37px;
                                font-family: 'Cutive Mono', monospace;

                                @media (max-width: 990px) {
                                    text-align: center;
                                } 
                            }
                        }
                    }
                }
            }
        }
    }
}
