.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

.nav-fluid{
        transition: 0.2s all linear;

}
    img{
        height: 2.9em;
        margin-top: -3px;
        margin-left: .5em;

        &:hover {
            height: 3em;
        }
    }
}

.change-color {
    background-color: #1b1b1b;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
    box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
    color: white;
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    margin-right: 1.5em;
    letter-spacing: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;

     &:hover {
         border-bottom: 4px solid dimgrey;
         line-height: 76px;
         font-size: 14px;
     }
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.navbar-toggle {
    margin: 2rem;
}





