<div class="account-body">
    <h1>This is the account home page</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>The list of the user's current buildings</h1>
                <div class="building-list" ng-repeat="building in buildings">
                    <h4>{{ building.buildingName }} <a href="#" ng-click="showDetails(building, $index)">Details</a> <a href="#" ng-click="showRoutes(building)">Routes</a></h4>
                    <div class="building-details" ng-hide="building.hideDetails" ng-init="building.hideDetails = true">
                        <p>Height: {{ building.height }}</p>
                        <p>Width: {{ building.width }}</p>
                        <p>Length: {{ building.length }}</p>
                        <div id="shape-{{$index}}" class="shape-div"></div>
                    </div>
                    <div class="routes-div" ng-hide="building.hideRoutes" ng-init="building.hideRoutes = true">
                        <div class="singleroute-div" ng-repeat="route in building.routes track by $index">
                            <h5>Route ID: {{ route.id }}</h5>
                            <p ng-repeat="step in route.commands track by $index">{{ step.command }}: {{ step.amount }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Create a new building</h1>
                <create-building></create-building>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Create a new route</h1>
                <create-route></create-route>
            </div>
        </div>
    </div>
</div>