<div class="contact-container container">
	<div class="contact-row row">
		<div class="contact-form-row col-md-6 col-sm-12">
			<div class="contact-form">
				<h3 class="cu">Contact Us</h3>
				<div class="contact-name">
					<input type="text" placeholder="Full Name">
				</div>
				<div class="contact-email">
					<input type="email" placeholder="Email">
				</div>
				<div class="contact-message">
					<textarea placeholder="Whatcha wanna say?"></textarea>
				</div>
				<button class="btn-contact"> Submit </button>
			</div>
		</div>
		<div class="map col-md-6 col-sm-12">
			<div class="map-box">
				<iframe
					width="100%"
					height="375"
					frameborder="0" style="border:0"
					src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAQRd75QovSG9yzCjXul4J6QxcBo2Dtk00
						&q=Innovation+Depot,Birmingham+AL+35203" allowfullscreen>
				</iframe>
			</div>
		</div>
<!--
		<div class="address-container">
			<div class="address-box">
				<h1>Hover</h1>
				<h3>Innovation Depot</h3>
				<h4>Birmingham, AL</h4>
			</div>
		</div>-->
	</div>
</div>