<div class="contact-container container">
	<div class="address-container row">
			<h1>Hovr</h1>
		<div class="address-box">

			<div class="address-info col-md-6 col-sm-12 col-xs-12">
				<div class="address-stuff">
					<h3>Innovation Depot</h3>
					<h3>Birmingham, AL</h3>
					<h4>205-867-5309</h4>
				</div>
			</div>
			<div class="social-stuff col-md-6 col-sm-12 col-xs-12">
				<div class="social-pics">
					<img src="../images/twitter.png" alt="twitter-square-logo">
					<img src="../images/fbwhite.png" alt="facebook-logo">
					<img src="../images/instagram-logo-white.png" alt="instalogo">
				</div>
			</div>
		</div>
	</div>

	<div class="contact-row row">
		<div class="contact-form-row col-md-6 col-sm-12">
			<div class="contact-form">
				<h3 class="cu">Say Something</h3>
				<div class="contact-name">
					<input type="text" placeholder="Full Name">
				</div>
				<div class="contact-email">
					<input type="email" placeholder="Email">
				</div>
				<div class="contact-message">
					<textarea placeholder="Whatcha wanna say?"></textarea>
				</div>
				<button class="btn-contact"> Submit </button>
			</div>
		</div>
		<div class="map col-md-6 col-sm-12">
			<div class="map-box">
				<iframe width="100%" height="516" frameborder="0" style="border-radius: 2em" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAQRd75QovSG9yzCjXul4J6QxcBo2Dtk00
						&q=Innovation+Depot,Birmingham+AL+35203" allowfullscreen>
				</iframe>
			</div>
		</div>
	</div>
</div>