<div class="info-page">
	<h1>How it works:</h1>
	<div class="pics container">
		<div class="pic-row row ">
			<div class="pic-container col-md-4 col-sm-12 col-xs-12">
				<div class="square3" ng-click="user()"></div>
				<div class="text1" ng-click="user()">
					<h1>User</h1>
					<p>the user creates buildings and routes through our user friendly account page</p>
				</div>
			</div>
			<div class="pic-container col-md-4 col-sm-12 col-xs-12">
				<div class="square1" ng-click="software()"></div>
				<div class="text1" ng-click="software()">
					<h1>Software</h1>
					<p>building deminsions and route details are stored and passed on to the drone</p>
				</div>
			</div>
			<div class="pic-container col-md-4 col-sm-12 col-xs-12">
				<div class="square2" ng-click="hardware()"></div>
				<div class="text1" ng-click="hardware()">
					<h1>Hardware</h1>
					<p>the drone receives the data and flies the specified path</p>
				</div>
			</div>
		</div>
	</div>

	<div class="explanation">
		<div class="software-container container">
			<div class="software-row row">
				<div class="software-section col-md-12" id="software">
					<div class="text-container">

						<div class="about-container col-md-4 col-sm-4">
							<div class="square ">
								<div class="glyph-container">
									<span class="glyphicon glyphicon-object-align-bottom"></span>
								</div>
								<div class="text-container ">
									<h4>Create</h4>
									<p>Create a 3D model of your building by inputting custom length, width, and height. </p>
								</div>
							</div>
						</div>

						<div class="about-container col-md-4 col-sm-4">
							<div class="square ">
								<div class="glyph-container">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</div>
								<div class="text-container ">
									<h4>Draw</h4>
									<p>Draw a route using Google Maps integration. Specifiy the height and desired GPS coordinates. </p>
								</div>
							</div>
						</div>

						<div class="about-container col-md-4 col-sm-4">
							<div class="square ">
								<div class="glyph-container">
									<span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
								</div>
								<div class="text-container ">
									<h4>FLy!</h4>
									<p>Watch the drone fly the route you drew around the building you created. Cool, huh? </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>