<!--<div class="info-page">
	<h1>How it works:</h1>

	<div class="pics container">
		<div class="pic-row row ">
			<div class="pic-container col-md-4 col-sm-12 col-xs-12">
				<div class="square3" ng-click="user()"></div>
				<div class="text1" ng-click="user()">
					<h1>User</h1>
					<p>the user creates buildings and routes through our user friendly account page</p>
				</div>
			</div>
			<div class="pic-container col-md-4 col-sm-12 col-xs-12">
				<div class="square1" ng-click="software()"></div>
				<div class="text1" ng-click="software()">
					<h1>Software</h1>
					<p>building deminsions and route details are stored and passed on to the drone</p>
				</div>
			</div>
			<div class="pic-container col-md-4 col-sm-12 col-xs-12">
				<div class="square2" ng-click="hardware()"></div>
				<div class="text1" ng-click="hardware()">
					<h1>Hardware</h1>
					<p>the drone receives the data and flies the specified path</p>
				</div>
			</div>
		</div>
	</div>
	<div class="explanation">
		<div class="software-container container">
			<div class="software-row row">
				<div class="software-section col-md-12" id="software">
					<div class="text-container">

						<div class="about-container col-md-4 col-sm-4">
							<div class="square ">
								<div class="glyph-container">
									<span class="glyphicon glyphicon-object-align-bottom"></span>
								</div>
								<div class="text-container ">
									<h4>Create</h4>
									<p>Create a 3D model of your building by inputting custom length, width, and height. </p>
								</div>
							</div>
						</div>

						<div class="about-container col-md-4 col-sm-4">
							<div class="square ">
								<div class="glyph-container">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</div>
								<div class="text-container ">
									<h4>Draw</h4>
									<p>Draw a route using Google Maps integration. Specifiy the height and desired GPS coordinates. </p>
								</div>
							</div>
						</div>

						<div class="about-container col-md-4 col-sm-4">
							<div class="square ">
								<div class="glyph-container">
									<span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
								</div>
								<div class="text-container ">
									<h4>FLy!</h4>
									<p>Watch the drone fly the route you drew around the building you created. Cool, huh? </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->


<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img class="first-slide" src="../images/bebop2_blanc.png" alt="First slide">
			<!--<div class="container">
				<div class="carousel-caption">
					<h1>Example headline.</h1>
					<p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the
						left and right might not load/display properly due to web browser security rules.</p>
					<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
				</div>
			</div>-->
		</div>
		<div class="item">
			<img class="second-slide" src="../images/iStock_104823503_LARGE.jpg" alt="Second slide">
			<!--<div class="container">
				<div class="carousel-caption">
					<h1>Another example headline.</h1>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam
						id dolor id nibh ultricies vehicula ut id elit.</p>
					<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
				</div>
			</div>-->
		</div>
		<div class="item">
			<img class="third-slide" src="../images/iStock_104559789_LARGE.jpg" alt="Third slide">
			<!--<div class="container">
				<div class="carousel-caption">
					<h1>One more for good measure.</h1>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam
						id dolor id nibh ultricies vehicula ut id elit.</p>
					<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
				</div>
			</div>-->
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<div class="glyph-container">
				<div class="glyph-box">
					<span class="glyphicon glyphicon-object-align-bottom"></span>
				</div>
			</div>

			<h2>Build</h2>
			<div class="info-box">
				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id
					elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
			</div>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<div class="glyph-container">
				<div class="glyph-box">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</div>
			</div>
			<h2>Draw</h2>
			<div class="info-box">
				<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur
					purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			</div>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<div class="glyph-container">
				<div class="glyph-box">
					<span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
				</div>
			</div>
			<h2>Fly</h2>
			<div class="info-box">
				<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod
					semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			</div>
		</div>
		<!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->


	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">The User. <br><span class="text-muted">aka the pilot</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
				cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5 user"></div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 col-md-push-5">
			<h2 class="featurette-heading">The Software. <br><span class="text-muted">aka the code</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
				cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5 col-md-pull-7 software"></div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">The Hardware. <br><span class="text-muted">aka the drone</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
				cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5 hardware"></div>
	</div>

	<hr class="featurette-divider">