<div class="creator-container container">
	<div class="user-creator-login row">
		<div class="login-form">
			<div class="tabs-login">
				<a href="/login">
					<div class="tab1 col-md-6">Log In</div>
				</a>
				<a href="/register">
					<div class="tab2 col-md-6">Sign up</div>
				</a>
			</div>
			<div class="signup-login">
				<h3>Log In</h3>
			</div>
			<div class="userinfo">
				<div class="accountinfo col-md-12">
					<div class="email">
						<input type="email" ng-model="email" placeholder="Email">
					</div>
					<div class="password-login">
						<input type="password" ng-model="password" placeholder="Password">
					</div>
				</div>
				<div class="confirm">
					<button ng-click="login()">Let's do it.</button>
				</div>

				<a href="/register">
					<h6>I'm a new user</h6>
				</a>
			</div>
		</div>
	</div>
</div>