<div class="creator-container container">
	<div class="user-creator row">
		<div class="register-form">
			<div class="tabs">
				<a href="/login">
					<div class="tab1-register col-md-6">Log In</div>
				</a>
				<a href="/register">
					<div class="tab2-register col-md-6">Sign Up</div>
				</a>
			</div>
			<div class="signup">
				<h3>Sign up</h3>
			</div>
			<div class="userinfo">
				<div class="username col-md-12">
					<input type="text" ng-model="firstname" placeholder="First Name">
					<input type="text" ng-model="lastname" placeholder="Last Name">
				</div>
				<div class="accountinfo col-md-12">
					<div class="email">
						<input type="email" ng-model="email" placeholder="Email">
					</div>
					<div class="password col-md-12">
						<input type="password" ng-model="password" placeholder="Password">
						<input type="password" ng-model="confirmPassword" placeholder="Confirm">
					</div>
				</div>
				<div class="confirm">
					<button ng-click="newUser()">Let's do it.</button>
				</div>
				<a href="/login">
					<h6>Oh, I already have an account</h6>
				</a>
			</div>
		</div>
	</div>
</div>