<div class="welcome-container">
	<video id="bgvid" playsinline autoplay muted loop>
		<!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
		<source src="https://upload.wikimedia.org/wikipedia/commons/9/90/Snowdonia_by_drone.webm" type="video/webm">
		<!--<source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">-->
	</video>
		<div id="vid">
			<h1>Hover</h1>
			<p>make something fly somewhere</p>
			<div>
				<a class="howitworks" ng-show="showLogin" href="/register">Register</a>
                <a class="howitworks" ng-show="showLogin" href="/login">Log In</a>
			</div>
	</div>
</div>




<!--goes in video tag poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg"-->